1.Explain with an example each when to use a for loop and a while loop.

Ans)For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations.   The for loop is used when the number of iterations is already known.

Example:
n = [1,2,3] 
for i in n:  
    print(i)
    
While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false.   

Example:
a=1
while a<=10:
print (a)
a=a+1

2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [1]:
sum = 0

for value in range(1, 11):
    sum = sum + value
    
print(sum)

55

In [6]:
product = 1

for i in range(1, 11):
    product = product*i

print("The product is : " , product)

The product is :  3628800

In [1]:
starting_point = 0
counter = 1
while counter <=10:
    starting_point = starting_point + counter
    counter = counter+1
starting_point

55

In [9]:
i=1
product=1
while i<=10:
    product = product*i
    i=i+1
product

3628800

3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [16]:
units=int(input("Enter the units of electricity consumed in a month"))
if units <= 100:
    charge=units*4.5
elif units >= 100 and units<=200:
    charge=450+ (units-100)*6
elif units>=200 and units<=300:
    charge=450+ 600 + (units-200)*10
else:
    units>300
    charge=450+600+1000+(units-300)*20
print("The total electricity bill should be", charge)

Enter the units of electricity consumed in a month 310

The total electricity bill should be 2250

4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [21]:
l=[]
for i in range(0,101):
    l.append(i*i*i)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [10]:
l

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [13]:
[i for i in l if i%4==0]

[8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592,
 125000,
 140608,
 157464,
 175616,
 195112,
 216000,
 238328,
 262144,
 287496,
 314432,
 343000,
 373248,
 405224,
 438976,
 474552,
 512000,
 551368,
 592704,
 636056,
 681472,
 729000,
 778688,
 830584,
 884736,
 941192,
 1000000]

In [14]:
[i for i in l if i%5 == 0]

[125,
 1000,
 3375,
 8000,
 15625,
 27000,
 42875,
 64000,
 91125,
 125000,
 166375,
 216000,
 274625,
 343000,
 421875,
 512000,
 614125,
 729000,
 857375,
 1000000]

In [5]:
l1=[]
i =1
while i <= 100:
    l1.append(i*i*i)
    i=i+1
print(l1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [6]:
[i for i in l1 if i%4==0]

[8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592,
 125000,
 140608,
 157464,
 175616,
 195112,
 216000,
 238328,
 262144,
 287496,
 314432,
 343000,
 373248,
 405224,
 438976,
 474552,
 512000,
 551368,
 592704,
 636056,
 681472,
 729000,
 778688,
 830584,
 884736,
 941192,
 1000000]

In [7]:
[i for i in l1 if i%5==0]

[125,
 1000,
 3375,
 8000,
 15625,
 27000,
 42875,
 64000,
 91125,
 125000,
 166375,
 216000,
 274625,
 343000,
 421875,
 512000,
 614125,
 729000,
 857375,
 1000000]

5.Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [1]:
string= input("Enter the string")
count = 0

list= ['a','e','i','o','u']
for char in string:
    if char in list:
        count =count+ 1

print("Number of vowels in the given string is: ", count)

Enter the string i want to becomne a data scientist

Number of vowels in the given string is:  12